<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<div th:replace="index-template::head"></div>
<body>
<div th:replace="index-template::menu"></div>
<div th:replace="index-template::info"></div>

<h3 class="w-100 d-flex justify-content-center mt-5">Добавить автора</h3>
    <div class="w-100 p-3 d-flex justify-content-center">
        <form action="/manager/author" method="POST" >
            <div class="card border-0 m-2" style="width: 30rem;">
                <div class="mb-3 row">
                    <label for="inputFirstName" class="col-sm-3 col-form-label d-flex justify-content-end">Имя</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputFirstName" name="firstname" value="">
                    </div>
                </div> <div class="mb-3 row">
                    <label for="inputLastName" class="col-sm-3 col-form-label d-flex justify-content-end">Фамилия</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputLastName" name="lastname" value="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 d-flex justify-content-center">
                        <button class="btn btn-primary w-25" type="submit">Добавить</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
<div th:replace="index-template::footer"></div>
<div th:replace="index-template::boostrap-bundle"></div>
</body>
</html>