<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="headers/top"></div>
<body>
<div th:replace="headers/fragmentMenu"></div>
<main>
    <h3 class="w-100 d-flex justify-content-center mt-5">Добавить книгу</h3>
    <div class="w-100 p-3 d-flex justify-content-center">
        <form action="/book" method="POST" enctype="multipart/form-data" >
            <div class="card border-0 m-2" style="width: 30rem;">

                <div class="mb-3 row">
                    <label for="inputName" class="col-sm-4 col-form-label">Название книги</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputName" name="bookName" value="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="selectAuthor" class="col-sm-4 col-form-label">Авторы</label>
                    <div class="col-sm-8">
                        <select class="form-select" name="bookAuthors" multiple rows="5" cols="20" id="selectAuthor">
                            <option th:each="author : ${listAuthors}" th:value="${author.id}" th:text="${author.firstname + ' ' + author.lastname}"></option>
                        </select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputYear" class="col-sm-4 col-form-label">Год издания</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control w-50" id="inputYear" name="publishedYear" value="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputQuantity" class="col-sm-4 col-form-label">Количество экземпляров</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control w-25" id="inputQuantity" name="quantity" th:text='${quantity}'>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label">Загрузка обложки</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" name="file">
                        <label class="custom-file-label" for="customFile">Выберите файл</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 d-flex justify-content-end">
                        <button class="btn btn-primary w-25" type="submit">Добавить</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
<div th:replace="headers/footer"></div>
</body>
</html>