<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<div th:replace="index-template::head"></div>
<body>
<div th:replace="index-template::menu"></div>
<div th:replace="index-template::info"></div>
<main>
    <h1 class="w-100 text-center my-5">Добро пожаловать в нашу бибилотеку</h1>
    <p class="w-100 text-center my-5">для просмотра книг вам необходимо зарегистрироваться или войти</p>

</main>
<div th:replace="index-template::footer"></div>
<div th:replace="index-template::boostrap-bundle"></div>
</body>
</html>