<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<div th:replace="index-template::head"></div>
<body>
<div th:replace="index-template::menu"></div>
<div th:replace="index-template::info"></div>
<main>
    <h1 class="w-100 text-center my-5">Авторизация</h1>
    <div class="row d-flex justify-content-center ">
        <div class="card m-2 border-0" style="width: 25rem;">
            <form  th:action="@{/login}" method="POST">
                <div class="mb-3 row">
                    <label for="inputLogin" class="col-sm-3 col-form-label">Логин</label>
                    <div class="col-sm-9">
                        <input type="text" class="w-100" id="inputLogin" name="username">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-3 col-form-label">Пароль</label>
                    <div class="col-sm-9">
                        <input type="password" class="w-100" id="inputPassword" name="password">
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col-sm-12 d-flex justify-content-end">
                        <input class="btn btn-primary" type="submit" value="Войти">
                    </div>
                </div>
            </form>
            <p class="info mx-auto w-100"><a th:href="@{/registration}">Регистрация</a></p>
        </div>

    </div>
</main>
<div th:replace="index-template::footer"></div>
<div th:replace="index-template::boostrap-bundle"></div>
</body>
</html>